.App {
  display: inline-flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.App > span{
  margin: 0 10px;
  padding-top: 15px;
}

.number{
  position:relative;
}

.number::before{
position:absolute;
top: 0;
  content:url(/ball-6x6.png);
}
